@{
    ViewData["Title"] = "Register Page";
}
<form asp-action="Register">
    <input name="username" />
    <input name="password" type="password" />
    <input name="fullname" />
    <button>Register</button>
</form>